<app-header titulo="Fab"></app-header>

<ion-content>

   <!-- fab placed to the top end -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-react"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-vue"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-laravel"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-javascript"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-html5"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-css3"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{ i + 1}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>